{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>FISCAL DE MESA</h1>

        <h3>¿QUE ES SER FISCAL?</h3>
    <p>

            <h3>PARTIDOS POLITICOS:</h3>
            <p>Los FISCALES DE MESA son designados por los partidos políticos para controlar la elección.
            Su función es vigilar lo que ocurre en las mesas de votación para asegurarse de que se respete la ley electoral y los derechos de los electores y cuidar los votos de su partido. En caso de que así lo consideren pueden hacer reclamos.
            </p>

            <h3>JUSTICIA ELECTORAL:</h3>
            <p>El PRESIDENTE DE MESA Y SU AUXILIAR son designados por la justicia electoral para administrar la mesa de
                acuerdo con las leyes y con imparcialidad.</p>

            <h3>FUERZAS DE SEGURIDAD:</h3>
            <p>LAS FUERZAS DE SEGURIDAD ASIGNADAS A LOS LUGARES DE VOTACIÓN ESTÁN A LAS ÓRDENES DE CADA UNO DE LOS
                PRESIDENTES DE MESA para asegurar la libre emisión del sufragio. Si se produjeran conflictos o
                situaciones que comprometan el normal desarrollo de la votación el presidente de mesa puede solicitar a
                las fuerzas de seguridad que retiren de la mesa a las personas involucradas.</p>

            <h3>EN CADA MESA SÓLO PUEDE ACTUAR UN FISCAL POR PARTIDO</h3>
            <p>A menos que se trate de fiscales generales de sección, quienes tienen las mismas facultades que un fiscal
                de mesa y están habilitados para actuar simultáneamente con el fiscal acreditado ante cada mesa.</p>

            <h3>NO ABANDONES LA MESA QUE SE TE ASIGNÓ EN NINGÚN MOMENTO</h3>
            <p>Desde que se prepara el lugar de votación hasta que se terminan de contar los votos y se completa el acta
                de escrutinio el fiscal debe permanecer en la mesa. Tu presencia es la única garantía que tiene el
                partido de que las cosas se están haciendo bien.</p>

            <h3>LOS FISCALES NO PUEDEN MANIPULAR EL MATERIAL ELECTORAL NI LAS BOLETAS</h3>
            <p>Solo pueden hacerlo en los momentos puntuales en los que el presidente de mesa les solicite que firmen
                documentos.</p>


            <h3>LA LLEGADA A LA ESCUELA Y LA PREPARACION DEL LUGAR DE VOTACION:</h3>

            <p>El día de la elección tenés que presentarte a las 7.30 en la mesa que te hayan asignado con el último
                ejemplar de tu DNI y el poder o certificado emitido por tu partido. Es importante LLEGAR A TIEMPO para
                controlar que el recinto donde se vota y la urna sean preparados correctamente.</p>

            <h3>¿A QUIÉN RECURRIR EN CASO DE INCONVENIENTES O DUDAS?</h3>
            <p>En caso de que se presente algún inconveniente o tengas dudas, dirigite al fiscal general de tu partido
                en la escuela. Si no hay fiscal general, es importante que tengas un teléfono para hacer consultas.
                También podés recurrir al delegado electoral asignado a la escuela por la justicia electoral.</p>


            <h3>ANTES DE EMPEZAR LA VOTACIÓN EL PRESIDENTE DE MESA PREPARA EL CUARTO OSCURO Y LA URNA</h3>

            <p>El cuarto oscuro tiene que tener un solo acceso (todas las demás puertas y salidas deben estar
                clausuradas) y las ventanas tapadas de modo que se preserve la privacidad del elector al momento de
                votar. Además, no puede haber carteles, afiches o indicaciones que induzcan al elector a votar por un
                partido o candidato.</p>

            <h3>CONSTATÁ QUE EL PRESIDENTE DE MESA ARME Y SELLE LA URNA CORRECTAMENTE</h3>

            <p>El presidente de mesa debe armar la urna, exhibirla para que los fiscales observen que no tiene nada
                dentro, y cerrarla con las fajas correspondientes. Los fiscales deben firmar la faja de cierre para
                asegurarse de que la urna no se abra hasta el momento de contar los votos. Finalmente, el presidente de
                mesa labra el acta de apertura y todo está listo para empezar la votación. Vos también tenés que firmar
                el acta de apertura.</p>


            <h3>EL COMIENZO DE LA VOTACIÓN</h3>

            <p>Votan en primer lugar las Autoridades de Mesa. En el caso que no figuren inscriptas en la lista de
                electores de la mesa, se agregarán al final del padrón, consignando sus datos personales, el cargo que
                desempeñan y la mesa en que figuran inscriptos (art. 8º Ley 11.627); En segundo lugar, votan los
                fiscales de mesa y generales que figuren inscriptos en el padrón de la mesa y que se hayan constituido y
                acreditados como tales, en la mesa en la que actúen. Los fiscales no pueden agregarse al padrón de la
                mesa, sino que deben votar únicamente en la mesa en la que figuran inscriptos (art. 12 Ley 11.627).</p>

            <h2>ELECTORES</h2>

            <h3>¿QUIÉNES PUEDEN VOTAR?</h3>

            <p>Para la elección provincial: todos los electores argentinos nativos o por opción desde los 18 años de
                edad juque se encuentren inscriptos en el padrón electoral o en actas complementarias y acrediten su
                identidad; y los electores extranjeros desde los 18 años de edad que acrediten su identidad y que
                cuenten con dos años de residencia continua y efectiva en el municipio, o un año, en el caso de las
                comunas que se encuentren inscriptos en el padrón de extranjeros de la mesa.</p>

            <h3>¿QUIÉNES NO PUEDEN VOTAR?</h3>

            <ul>
                <li>No figuren en el padrón de la mesa.</li>
                <li>No presenten documento habilitante.</li>
                <li>Figuren en el padrón anulados por la Justicia Nacional Electoral, aunque aleguen error.</li>
                <li>Se presenten con un documento anterior al que figura en el padrón. Por ejemplo, si en el padrón
                    figura
                    DNI ejemplar B y el elector se presenta con un DNI ejemplar A.
                </li>
                <li>No podrán votar en la elección municipal-comunal los electores de 16 y 17 años.</li>
                <li>No podrán votar en la elección municipal–comunal aquellos electores que se encuentren observados,
                    atento
                    a lo dispuesto en la Ley nº 11.627, artículo 2º.
                </li>
                <li>Las constancias de extravío o de documento en trámite no sirven para votar.</li>
            </ul>

            <h3>COMPROBACIÓN DE LA IDENTIDAD DEL ELECTOR</h3>

            <p>Para realizar la comprobación de la identidad de los electores, Usted deberá contrastar los datos que
                figuran en el padrón electoral y los que figuran en el documento que porta el elector. Los datos del
                padrón deben coincidir con el documento. Si algún dato no concuerda y los demás son correctos, debe
                admitirse el voto y dejar constancia de ello en la columna de observaciones.</p>

            <h3>CALIFICACIÓN DE VOTOS</h3>
            <h4>1.VOTOS VÁLIDOS</h4>
            <p>Son los que contienen una marca por agrupación política por cada boleta única y aquellos que no contienen
                alguna marca.</p>
            <ul>
                <li><h5>A.VOTO AFIRMATIVO:</h5></li>
                <ul>
                    <li><p>Son los votos en los que el elector ha marcado una sola opción claramente identificada, ya sea al
                        elegir
                        una lista o un partido.</p></li></ul>
                <li><h5>B.VOTO EN BLANCO:</h5></li>
                <ul>
                    <li><p>Son aquellos en los que el elector no ha marcado alguna opción en la Boleta Única.</p></li>
                </ul>
            </ul>
            <h4>2.VOTOS NULOS</h4>
            <p>Son los que:</p>
            <ul>
                <li>Por cada Boleta única el elector ha marcado más de una opción electoral.</li>
                <li>Los que lleven escrito el nombre, la firma o el número de Documento Nacional de Identidad del
                    elector.
                </li>
                <li>Los emitidos en Boletas Únicas no entregadas por las autoridades de mesa y las que no lleven la firma del Presidente de Mesa.</li>
                <li>Los emitidos en Boletas Únicas en las que se hubiesen roto algunas de las partes y esto impida
                    establecer cuál ha sido la opción electoral escogida o en las que faltaren algunos de los datos
                    visibles en el talón correspondiente.
                </li>
                <li>Aquellos en que el elector ha agregado nombres de organizaciones políticas, listas independientes o
                    nombres de candidatos a los que ya están impresos.
                </li>
                <li>Aquellos donde aparecen expresiones, frases o signos ajenos al proceso electoral.</li>
            </ul>
            <h4>3.VOTOS RECURRIDOS</h4>

            <p>Son aquellos cuya validez o nulidad fuera cuestionada en el escrutinio de mesa por algún fiscal. En este
                caso, el fiscal deberá fundar su pedido con expresión concreta de las causas.</p>
            <h4>4.VOTO DE IDENTIDAD IMPUGNADA</h4>
            <p>Voto sobre el cual Usted, su Auxiliar o los fiscales consideran que el votante no es el titular del
                documento cívico que presenta.</p>

            <h4>5.VOTO DEL COMANDO GENERAL ELECTORAL</h4>
            <p>Existe la posibilidad de que el personal del Comando General Electoral ejerza sus funciones en un
                establecimiento de votación distinto de aquel en el que está empadronado. En tal caso, sólo podrá votar
                para las categorías nacionales y estará diferencialmente identificado en el Padrón.</p>
            <p>Sin embargo, de ejercer sus funciones en un establecimiento del mismo municipio en el que se encuentra
                registrado, solo podrán votar los agentes de seguridad que figuren en el padrón complementario. En este
                caso, sin sobre especial.</p>

            <h3>PLEGADO DE LAS BOLETAS ÚNICAS</h3>
            <p>Es tarea de la Autoridad de Mesa explicarle al elector cómo debe plegar la o las boletas utilizadas. Al
                no haber sobre, el plegado resulta fundamental para preservar el secreto del voto, además de ser
                imprescindible para la correcta introducción de la boleta en la urna. Por ello, cada boleta posee al
                dorso dos líneas de puntos que establecen claramente el lugar donde se debe realizar el primer y el
                segundo doblez, de modo tal que no quede a la vista la opción elegida.</p>

            <h3>ERRORES AL MARCAR LAS BOLETAS ÚNICAS</h3>
            <p>Si un votante comunica a las autoridades electorales que ha cometido una equivocación al marcar la boleta
                única, se anulará la boleta entregada y se le dará al votante una nueva boleta (o un nuevo juego de
                boletas en las localidades donde se vota más de una categoría). El votante se dirigirá nuevamente al box
                a efectos de realizar la marca correcta. El incidente deberá dejarse asentado en Acta. Para anular las
                boletas “equivocadas”, el Presidente de Mesa deberá escribir sobre cada una de ellas la leyenda
                “ANULADA”.</p>

            <h3>PROCEDIMIENTOS ESPECIALES DENTRO DEL MARCO DE LA JORNADA ELECTORAL ACCESIBILIDAD ELECTORAL:
                PROCEDIMIENTO
                PARA LA VOTACIÓN DE PERSONAS CON DISCAPACIDAD</h3>

            <p>La Autoridad de Mesa debe facilitar la emisión del voto de las personas con discapacidad o con reducción
                en su movilidad, en su visión o audición.</p>

            <h4>a. Procedimiento para el Voto Asistido:</h4>

            <p>Todo elector con discapacidad o limitación (permanente, transitoria) que impida, restrinja o dificulte el
                ejercicio del voto, podrá sufragar asistidos por el Presidente de Mesa o una persona de su confianza que
                acredite debidamente su identidad.</p>
            <p>Se deberá dejar asentada esta circunstancia en el padrón de la mesa —en el espacio de observaciones— y en
                el acta de cierre de la misma, consignando los datos del elector y de la persona que lo asista.</p>
            <h2 style="color:red">NINGUNA PERSONA, A EXCEPCIÓN DEL PRESIDENTE DE MESA, PODRÁ ASISTIR A MÁS DE UN ELECTOR EN UNA MISMA
                JORNADA ELECTORAL</h2>

            <h3>EL CIERRE DE LA MESA Y EL ESCRUTINIO</h3>

            <p>A LAS 18 HORAS SE CIERRA LA PUERTA DE ACCESO A LA ESCUELA</p>
            <p>Los que estén adentro esperando su turno pueden votar. Una vez que hayan votado todos los electores, el
                presidente completa el acta de cierre y se prepara para abrir la urna y contar los votos (escrutinio).
                Antes de abrir la urna hay que contar en el padrón cuántos electores concurrieron a votar. También es
                importante controlar que no queden boletas o sobres sueltos.</p>
            <p>EL PRESIDENTE ABRE LA URNA Y CUENTA EL NÚMERO DE SOBRES DENTRO DE LA URNA</p>
            <p>Es importante que sigas de cerca la cuenta haciendo palotes. La cantidad de sobres debe coincidir con la
                cantidad de electores que votaron. Si hay diferencia, debe asentarse en el acta de escrutinio.</p>
            <p>El orden del recuento debe comenzar por la categoría de Gobernador después Senador, Diputado, Intendente
                o Comisión Comunal y Concejal.</p>


            <h3>¿CÓMO SE CUENTAN LOS VOTOS?</h3>

            <h4>VOTOS VÁLIDOS:</h4>
            <p>Son los emitidos mediante boleta oficializada, aun cuando tengan candidatos tachados, agregados o
                sustituciones. Si en un sobre aparecen dos o más boletas oficializadas correspondientes al mismo partido
                y categoría de candidato, solamente se computará una de ellas y destruir las restantes.</p>

            <h4>VOTOS NULOS:</h4>
            <p>Los emitidos con boleta no oficializada; o con boleta oficializada que contenga inscripciones y/o
                leyendas de cualquier tipo; con dos o más boletas de distinto partido para la misma categoría de
                candidatos, con boleta oficializada en la que por rotura o tachadura no pueda verse al menos el nombre
                del partido y la categoría de candidatos a elegir; o cuando en la boleta electoral se hayan incluido
                objetos extraños a ella.</p>

            <h4>VOTOS EN BLANCO:</h4>
            <p>Cuando el sobre está vacío o con papel de cualquier color sin inscripciones ni imagen alguna.</p>


            <p>PODÉS RECURRIR LA CLASIFICACIÓN QUE HACE EL PRESIDENTE DE MESA</p>
                <p>Si no estás de acuerdo con la
                clasificación que hizo el presidente de mesa podés recurrir el voto especificando la causa. El
                presidente de mesa pondrá el voto recurrido en el sobre para votos recurridos y lo enviará al juzgado
                electoral junto con las actas para que se decida sobre la clasificación. Los votos solo pueden
                recurrirse durante el escrutinio.</p>

            <p>EL PRESIDENTE CUENTA LOS VOTOS Y VOS TENÉS QUE CONTROLAR</p>
            <p>Es recomendable seguir la cuenta haciendo palotes. Cuando termina de contar, el presidente vuelca la
                información en el acta de escrutinio. También tenés que controlar que vuelque los resultados
                correctamente a la aplicación.</p>
            <p>Además, si formulaste reclamos sobre el desarrollo de la votación o con respecto al escrutinio, tenés que
                asegurarte de que queden asentados en el acta de cierre.</p>

            <p>TENÉS QUE FIRMAR EL ACTA DE CIERRE Y SOLICITAR UN CERTIFICADO DE ESCRUTINIO</p>
</div>
{% endblock %}